.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 46px;
  margin-top: 46px;
}
.product-images {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  align-items: top;
}
.column {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 10px;
}
.column img {
  width: 100%;
  height: auto;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.product-ratings {
  display: flex;
  gap: 24px;
  align-items: center;
}
.product-ratings a {
  color: var(--gray);
  font-size: 14px;
}
.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 12px;
}
.size-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
input[type='radio'] {
  appearance: none;
  padding: 8px;
  background-color: white;
  border: 2px solid var(--gray);
  border-radius: 50%;
}
input[type='radio'] ~ h5 {
  color: var(--gray);
}
input[type='radio']:checked {
  background-color: var(--black); /* Umplere neagră */
  border-color: var(--black); /* Bordura neagră */
}
input[type='radio']:checked ~ h5 {
  color: var(--black);
}

details > summary {
  list-style: none;
}

.whats-my-size a {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.product-cta {
  margin-top: 46px;
  display: flex;
}
.product-cta #qty {
  padding: 12px;
  cursor: pointer;
}

.product-cta Button {
  width: 100%;
}
.details-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.product-reviews {
  display: grid;
  grid-template-columns: 0.56fr 1fr;
}
.ratings-header {
  display: flex;
  justify-content: space-between;
}
.rating-score-header > div {
  margin-top: 24px;
}
.rating-score-numbers {
  margin-top: 46px;
}
.filter-type {
  margin-top: 46px;
}
.rating-list {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.rating-list ~ button {
  margin-top: 64px;
}
.product-colors {
  display: flex;
  gap: 12px;
  align-items: center;
}
.color-items {
  display: flex;
  gap: 4px;
}
