.dropdownContainer {
  position: relative;
}

.dropdownButton {
  padding: 12px;
  border: 1px solid var(--black);
  cursor: pointer;
  background-color: transparent;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.dropdownIcon {
  font-size: 20px;
  transition: var(--transition-time);
}
.openIcon {
  transform: rotate(180deg);
}
.dropdownList {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid var(--black);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: fit-content;
  width: 100%;
  padding: 12px;
  display: none;
}
.dropdownItem input {
  display: none;
}
.dropdownList.show {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdownItem {
  cursor: pointer;
  white-space: nowrap;
}
.dropdownItem:hover p {
  color: var(--black);
}
