:root {
  --dark-red: #930c0c;
  --black: #030303;
  --light-gray: #e5e1e1;
  --gray: #565353;
  --transition-time: 500ms ease;
  --container-padding: 60px;
  --navBar-maxHeight: 82px;
  --green: #00cc21;
}
@font-face {
  font-family: Grafita;
  src: url(./Fonts/GrafitaDemo.otf);
}
.navTopMargin {
  margin-top: calc(var(--navBar-maxHeight) + 24px);
}
.container {
  padding: 0 var(--container-padding);
  margin: 0 auto;
  max-width: 1600px;
}

button {
  font-size: 20px;
  cursor: pointer;
}
hr {
  border: 1px solid var(--light-gray);
}
a {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  text-decoration: underline;
}
h2,
h4,
h5 {
  font-weight: 600;
}
h2 {
  /*36px*/
  font-size: clamp(1.5rem, 1.313rem + 0.938vw, 2.25rem);
}
h3 {
  font-size: clamp(1.125rem, 0.969rem + 0.781vw, 1.75rem);
  font-weight: 500;
}
h4 {
  /*22px*/
  font-size: clamp(1rem, 0.906rem + 0.469vw, 1.375rem);
}
h5 {
  /*20px*/
  font-size: clamp(0.875rem, 0.781rem + 0.469vw, 1.25rem);
}
p {
  font-weight: 400;
  color: var(--gray);
}
small {
  font-size: 14px;
  font-weight: 400;
}
label {
  cursor: pointer;
}
img {
  width: 100%;
  height: 100%;
}
option {
  padding: 10px;
  background-color: red;
}
input {
  background-color: transparent;
  border: 1px solid var(--black);
  padding: 10px;
  color: var(--black);
}
input[type='checkbox'] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--black);
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type='checkbox']:checked::before {
  transform: scale(1);
}
.d-flex-row {
  display: flex;
  align-items: center;
}
.d-flex-col {
  display: flex;
  flex-direction: column;
}
.gap-8px {
  gap: 8px;
}
.gap-10px {
  gap: 10px;
}
.gap-s {
  gap: 12px;
}
.gap-m {
  gap: 24px;
}
.gap-b {
  gap: 36px;
}
.gap-bb {
  gap: 46px;
}
