/* Product.module.css */
.productCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
  transition: var(--transition-time);
  box-shadow: 0px 4px 8.6px 0px #f2f1efcc;
  height: 100%; /* Se întinde pe întreaga înălțime disponibilă */
  overflow: hidden; /* Ascunde orice conținut care depășește */
  box-sizing: border-box;
}

.productCardImage {
  width: 100%;
  aspect-ratio: 16 / 9; /* Ajustează raportul pentru a se potrivi cu aspectul imaginii tale */
  object-fit: cover; /* Asigură că imaginea umple containerul fără a distorsiona raportul de aspect */
  object-position: top;
}

.productCardContent {
  padding: 1.125rem;
  flex: 0 0 auto; /* Împiedică descrierea să se extindă sau să se micșoreze */
}

.productCardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productCardPrice {
  margin-top: 0.75rem;
  color: var(--gray);
}
.productCard:hover {
  transform: scale(1.02);
  text-decoration: none;
  box-shadow: 0 4px 8.6px rgba(0, 0, 0, 0.156);
}
